{% set search_id %}{{ search.name }}{% if search.tag %}-{{ search.tag }}{% endif %}{% endset %}
<div id="{{ search_id }}" class="search-engine">
    <h3><a href="{{ search.base_url }}" target="_new">{{ search.name }}</a>{% if search.tag
        %} [{{ search.tag }}]{% endif %}</h3>
    <form _onsubmit="document.getElementById('{{ search_id }}-input').value = ''" target="_new" method="GET"
        action="{{ search.endpoint }}">
        <input id="{{ search_id }}-input" type="text" name="{{ search.search_var }}">
        {% for k, v in search.other_params.items() %}
        <input type="hidden" name="{{ k }}" value="{{ v }}">
        {% endfor %}
        <button type="submit">Search</button>
        <button type="reset">Clear</button>
    </form>
    <p class="search-description">{{ search.description }}</p>
</div>