:root {
    --columns: 1;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --columns: 2;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    :root {
        --columns: 3;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
    :root {
        --columns: 4;
    }
}

body {
    font-family: monospace;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem
}

form,
p.search-description {
    margin-bottom: 0;
}

p.search-description {
    font-style: italic;
    font-size: 90%;
}

#search-page {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 15rem 1fr;
}

#meta {
    h2 {
        font-weight: bold;
        font-size: 18px;
    }

    nav li {
        margin-bottom: .3rem;
        list-style-type: none;
    }
}



#searches {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
}

.search-engine {
    border: 1px dashed;
    border-radius: 3px;
    padding: 1rem;
    margin: .5rem;
}

.search-engine input[type=text] {
    padding: inherit 3px;

    &:focus {
        padding: inherit 0px;
        border: 3px double rgb(173, 216, 230);
    }
}