<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ title or 'Q: My own search page'}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/q.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script type="text/javascript">
    function start(el) {
      var strLength = el.value.length * 2;
      el.focus();
      el.setSelectionRange(strLength, strLength, "forward");
    }
    function handle_nav_click(id) {
      el = document.getElementById(id)
      setTimeout(() => el.focus(), 100)
    }
  </script>
</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div id="search-page" style="">
        <div id="meta">
          <h2>{{ title }}</h2>
          {% for search in searches %}
          {% set search_id %}{{ search.name }}{% if search.tag %}-{{ search.tag }}{% endif %}{% endset %}
          {% if loop.first %}<nav>
            <ul>{% endif %}
              <li><a href="#{{ search_id }}" onclick="handle_nav_click('{{ search_id }}-input')">{{
                  search.name }}</a>{% if search.tag
                %} [{{ search.tag }}]{% endif %}</li>
              {% if loop.last %}
          </nav>
          </ul>{% endif %}

          {% endfor %}
        </div>
        <div>
          <div id="searches">
            {% for search in searches %}
            {% include 'partials/engine.html' with context %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>